<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/favicon1.png">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles2.css">
    <link rel="stylesheet" href="css/styles3.css">
</head>
<body>
     {{>header}}
    <div class="main-content container">
       
            <!--Search section -->
        <section class="wrapper">
            <h3 class="search-title">Use this site to check the weather!</h3>
            <form class="form">
                <div>
                    <input placeholder="Location">
                        <div class="radio-buttons">
                            <input class="celsius"type="radio" value="m" id="m" name="radio" checked >Celsius
                            <input type="radio" value="f" id="f" name="radio">Fahrenheit
                        </div>
                </div>
                <div>
                    <button class="btn">Search</button>
                </div>   
            </form>

            <!--Error message -->
            <div id="weather-desc-wrapper">
                <div>
                    <div id="message-1">
                    </div>              
                </div>
            </div>
        </section>



        <!--Weather summary -->
        <section id="all-next-days-header"></section>  

    </div>

    {{>footer}}
    
    <script src="/js/app.js"></script>

</body>
</html>