<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/robot.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this sit to get your weather!</p>

        <form>
            <input placeholder="Location">
            <input type="radio" value="m" id="m" name="radio">Celcius
            <input type="radio" value="f" id="f" name="radio">Ferenheit
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>

        <p id="r"></p>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>