<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Artist</title>
    <link rel="icon" href="/img/favicon2.png">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/main.css">
  
    
</head>
<body>
      {{>header}}

    <div class="main-content container">
      
        <section class="wrapper">
            <h3 class="search-title">Search the top 10 artists by music type!</h3>
            <div id="nav-tags" class="spacer">
                <select id="tags"></select>
            </div>
        </section>

        <!--Artist summary -->
        <div id="artists-by-type" class="spacer"></div>
       
    </div>

    {{>footer}}
    <script src="/js/app3.js"></script>
</body>
</html>