<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Artist</title>
     <link rel="icon" href="/img/robot.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="/css/styles3.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <header><h2 class="search-title">Search the top 10 artists by music type!</h2></header>
        <nav id="nav-tags">
            <select id="tags"></select>
        </nav>

        <div id="artists-by-type"></div>
       
    </div>

    {{>footer}}
    <script src="/js/app3.js"></script>
</body>
</html>