<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/favicon2.png">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
     {{>header}}
    <div class="main-content container">
       

        <section class="wrapper">
            <h3 class="search-title">Find the top 10 artists in your country!</h3>
            <form class="form spacer">
        
                    <div class="artist-location">
                        <input  placeholder="Location">
                    </div>
                    <div>
                        <button class="btn btn-contrast">Search</button>
                    </div>  
        
           
            </form>
        </section>


        <!--Artist summary -->
        <div id="message-1">
        </div> 

    </div>

    {{>footer}}

<script src="/js/app2.js"></script>
</body>
</html>