<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="icon" href="/img/robot.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles2.css">

</head>
<body>
    <div class="main-content">
        {{>header}}

        <h2 class="search-title">Find the to 10 artist in your country!</h2>
        <form>
                <div>
                    <input placeholder="Location">
                </div>
                <div>
                    <button>Search</button>
                </div>   
        </form>
        <div id="message-1">
        </div> 

    </div>

    {{>footer}}

<script src="/js/app2.js"></script>
</body>
</html>