<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Top Artist</title>
     <link rel="icon" href="/img/robot.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="/css/styles3.css">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <header><h2 class="search-title">Search the top 10 artists by music type!</h2></header>
        <nav>
            <select id="tags">
                <option value="type">Choose music type</option>
                <option value="disco">Disco</option>
                <option value="rock">Rock</option>
                <option value="clasical">Classical</option>
                <option value="dance">Dance</option>
                <option value="jazz">Jazz</option>
                <option value="punk">Punk</option>
                <option value="metal">Metal</option>
                <option value="blues">Blues</option>
                <option value="country">Country</option>
                <option value="heavy metal">Heavy metal</option>
                <option value="pop">Pop</option>
                <option value="house">House</option>
                <option value="chili">Chili</option>
                <option value="piano">Piano</option>
            </select>
        </nav>

        <div id="artists-by-type"></div>
       
    </div>

    {{>footer}}
    <script src="/js/app3.js"></script>
</body>
</html>