<header>
    <h1>{{title}}</h1>

    
    <a href="/">Weather</a>
    <a href="/topArtist">Top Artist - by country</a>
    <a href="/topArtist-filter">Top Artist - by music type</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>