.about-intro {
    font-weight: 400;
    line-height: 2.9rem;
    font-size: 1.8rem;
}

.about-heading {
    line-height: 2.9rem;
    padding: 4rem 0 1rem 0;
    font-size: 1.6rem;
}

.about-text {
    line-height: 2.9rem;
}